body {
    font-family: 'EB Garamond', serif;
}

div, h3 {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

h3 {
    font-weight: bold;
}

button {
    background-color: #ffffff;
    border: 1px solid #b51e23;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    font-size: 20px;
}

button:hover {
    font-weight: bold !important;
    border: 2px solid #3d76e0;
}

button:focus {
    font-weight: bold !important;
    border: 3px solid #b51e23;
}

img {
    height: 500px;
    margin-top: -150px;
}

h1 {
    color: #FF1744;
    font-weight: bold !important;
}